.home {
	.content {
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		.stroke {
			fill: none;
			stroke-width: 3;
		}

		.text {
			stroke-dasharray: 50 10;
			stroke: $orange;
			animation: stroke-text 6s infinite linear;
		}
	}

	@keyframes stroke-text {
		100% {
			stroke-dashoffset: 500;
		}
	}
}