// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$base-font-size: 16;
$font-24: 24px;

$black: #000;
$white: #fff;
$dark-grey: #121212;
$orange: #f5a503;
$grey-04: rgba(0, 0, 0, 0.4);
$pink-05: rgba(237, 224, 223, 0.5);